
//  .indev h1 {
//   color: green
// }

// .indev p {
//   color:darkcyan
// }

// .indev .inindev h1 {
//   color: white
// }

// .indev .inindev p {
//   color: yellow
// }

.indev {
    h1 {
        color: green
    }
    p {
        color:darkcyan
    }

    .inindev {
        h1 {
            color: green
        }
        p {
            color:darkcyan
        }
    }
}